{% load static %}

{% load socialaccount %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'exergam/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Profile</title>
</head>

<body style="background-color:#f7f7fa">
    <div class="">
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light sticky-top"
            style="background-color: #fff;border-bottom: 1px solid rgba(var(--b6a,219,219,219),1)">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <a class="navbar-brand" href="{% url 'exergam:feed' %}">
                            <img src="../../static/images/icons/eg_logo.png" alt="exergam" style="height: 50px;"></a>
                    </ul>
                </div>

                <form action="{% url 'exergam:find' %}" method="get" class="form-inline my-2 my-lg-0 col mr-5">
                    {% csrf_token %}
                    <input class="form-control" type="text" placeholder="Search" id="search_user" name="search_user"
                        aria-label="Search">
                    <input type="submit" value="&#x1F50D;" class="btn btn-info my-2 my-sm-0">
                </form>

                <ul class="nav navbar-nav ml-auto d-flex align-items-baseline">
                    <li class="nav-item active mr-1">
                        <a class="nav-link text-white" href="{% url 'exergam:feed' %}"> <img
                                src="../../static/images/icons/home.PNG" alt="" style="height: 30px;filter: invert(1)">
                            <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active mr-1">
                        <a class="nav-link text-white" href="{% url 'exergam:leaderboard' %}"><img
                                src="../../static/images/icons/medal.png" alt="" style="height: 30px;"></a>
                    </li>

                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000">
                            <img src="{% static user.picture.url %}" alt="Profile" style="
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'exergam:profile' user.id %}">My Profile</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{% url 'exergam:logout' %}">Log Out</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="../../static/images/add.png" alt="Profile" style="height: 30px; width: 30px;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" data-toggle="modal" data-target="#AddPostModal" href="#"> Add
                                    Post</a></li>
                            <li><a class="dropdown-item" data-toggle="modal" data-target="#AddExerciseModal"
                                    href="#">Add Exercise</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal fade" id="AddPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="">Add a Location to your Post</h3>
                        <form action="{% url 'exergam:select_location' %}" method="GET" class='form'>
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="Where did you go?" name="location" ,
                                id="location">
                            <div class="d-flex mt-3 mx-auto">
                                <a class="btn btn-outline-danger mr-1" href="{% url 'exergam:new_post' 1 %}">Skip</a>
                                <input type="submit" value="Search" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AddExerciseModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Exercise</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <form action="{% url 'exergam:upload' %}" method="post" class='form'>
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="text-primary">Exercise Type</label>
                                <select name="exercise_type_dropdown" id="exercise_type_dropdown">
                                    <option value="Basketball">Basketball</option>
                                    <option value="Baseball">Baseball</option>
                                    <option value="Climbing">Climbing</option>
                                    <option value="Football">Football</option>
                                    <option value="Frisbee">Frisbee</option>
                                    <option value="Soccer">Soccer</option>
                                    <option value="Spikeball">Spikeball</option>
                                    <option value="Swimming">Swimming</option>
                                    <option value="Tennis">Tennis</option>
                                    <option value="Track + Field">Track + Field</option>
                                    <option value="Volleyball">Volleyball</option>
                                    <option value="Walking">Walking</option>
                                    <option value="Weightlifting">Weightlifting</option>
                                    <option value="Yoga">Yoga</option>
                                    <option value="Cardio">Cardio</option>
                                    <option value="Strength">Strength</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="text-primary">Description</label>
                                <input type="text" class="form-control" placeholder="What did you do?"
                                    name="description" , id="description">
                            </div>
                            <div class="form-group">
                                <label class="text-primary" for="exampleInputPassword1">Date</label>
                                <input type="datetime-local" class="form-control" placeholder="YYYY-MM-DD HH:MM"
                                    id="exercise_date" name="exercise_date">
                            </div>
                            <div class="form-group">
                                <label class="text-primary" for="exampleInputPassword1">Duration in minutes</label>
                                <input type="text" class="form-control"
                                    placeholder="For how long did you perform this activity?" id="exercise_duration"
                                    name="exercise_duration">
                            </div>
                            <div class="mx-auto">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input class="btn btn-outline-primary" onclick="return confirm('Are you Sure? You will not be able to delete this exercise.')" type="submit" value="Upload">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center">
                <img src="{% static profile.picture.url %}" alt="Profile" style="vertical-align: middle;
                width: 15em;
                height: 15em;
                border-radius: 50%;
                margin: 2em">
                <div class="d-flex flex-column pl-3" style="min-width: 30%;">
                    <div class="d-flex mt-5">
                        <h1 class="display-4 mr-3 ">{{profile.first_nm}} {{profile.last_nm}}</h1>
                    </div>

                    <div class="d-flex">
                        <h3 class="text-muted font-weight-light">@{{profile.usernm}}</h3>

                        {% if profile.id == user.id %}
                        <p class="btn btn-outline-dark" href="#" role="button" style=" margin-left: 1em;"
                            data-toggle="modal" data-target="#editModal">
                            Edit Profile
                        </p>

                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                            aria-labelledby="editModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModaltitle">Edit Profile</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" action="{% url 'exergam:edit' %}" class='form text-primary'>
                                        <div class="modal-body">
                                            <h4 class="text-center text-primary">Edit Your Profile</h4>
                                            <div class="container text-center">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <p><label for="id_usernm">Username:</label> <input type="text"
                                                        name="usernm" value="{{user.usernm}}" maxlength="40" required=""
                                                        id="id_usernm"></p>
                                                <p><label for="id_first_nm">First Name:</label> <input type="text"
                                                        name="first_nm" value="{{user.first_nm}}" maxlength="40"
                                                        required="" id="id_first_nm"></p>
                                                <p><label for="id_last_nm">Last Name:</label> <input type="text"
                                                        name="last_nm" value="{{user.last_nm}}" maxlength="40"
                                                        required="" id="last_nm"></p>

                                                <img src="{% static user.picture.url %}" alt="Profile" id="profile"
                                                    style="
                                                            margin: 1em;
                                                            width: 150px;
                                                            height: 150px;
                                                            border-radius: 50%;">
                                                <div class="form-group">
                                                    <label class="text-primary">Profile Picture</label>
                                                    <select
                                                        onchange="$('#profile').attr('src', '../../static/images' + this.options[this.selectedIndex].value.substring(this.options[this.selectedIndex].value.indexOf('/', this.options[this.selectedIndex].value.indexOf('/') + 1)));"
                                                        name="picture" id="picture">
                                                        <option value={{user.picture}} selected="selected">Current
                                                            Profile Picture</option>
                                                        <option value="../images/default.jpeg">Default</option>
                                                        <option value="../images/1.jpg">Ram</option>
                                                        <option value="../images/2.jpg">Otter</option>
                                                        <option value="../images/3.jpg">Dog 1</option>
                                                        <option value="../images/4.jpg">Donkey</option>
                                                        <option value="../images/5.jpg">Rooster</option>
                                                        <option value="../images/6.jpg">Ostrich</option>
                                                        <option value="../images/7.jpg">Dog 2</option>
                                                        <option value="../images/8.jpg">Mouse</option>
                                                        <option value="../images/9.jpg">Rabbit</option>
                                                        <option value="../images/10.jpg">Camel</option>
                                                        <option value="../images/11.jpg">Pig</option>
                                                        <option value="../images/12.jpg">Baboon</option>
                                                        <option value="../images/13.jpg">Fox</option>
                                                        <option value="../images/14.jpg">Owl</option>
                                                        <option value="../images/15.jpg">Cat</option>
                                                        <option value="../images/16.jpg">Bull</option>
                                                        <option value="../images/17.jpg">Polar Bear</option>
                                                        <option value="../images/18.jpg">Dog 3</option>
                                                        <option value="../images/19.jpg">Wolf</option>
                                                        <option value="../images/20.jpg">Penguin</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <input type="submit" value="Update" class="btn btn-primary">
                                        </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if profile.id != user.id %}
                        <div class="ml-2 text-center">
                            <form id="follow_form" action="{% url 'exergam:follow' profile.id %}" method="post" class='form'>
                                {% csrf_token %}
                                <input id="follow" type="submit" value="Follow" class="btn btn-primary" >
                            </form>
                            {% for follower in profile.followers.all %}
                                {% if follower.usr.id == user.id %}
                                <form action="{% url 'exergam:unfollow' profile.id %}" method="post" class='form'>
                                    {% csrf_token %}
                                    <input type="submit" value="Following" class="btn btn-outline-secondary">
                                </form>
                                <script>
                                    $( "#follow" ).css( "visibility", "hidden" );
                                    $( "#follow" ).css( "height", "0" );
                                    $( "#follow" ).css( "padding", "0" );
                                    $( "#follow_form" ).css( "margin", "0" );
                                </script>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="row mt-2">
                        <p></p>
                        <p class="col"><b>{{profile.exerciseentry_set.count}}</b> workouts</p>

                        <p class="col" data-toggle="modal" data-target="#followerModal">
                            <b>{{profile.followers.count}}</b> Followers</p>
                        <!-- Followers Modal -->
                        <div class="modal fade" id="followerModal" tabindex="-1" role="dialog"
                            aria-labelledby="followerModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="followerModalTitle">Followers</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for follower in profile.followers.all %}
                                        <div class="d-flex">
                                            <a href="{% url 'exergam:profile' follower.usr.id %}"><img
                                                    src="{% static follower.usr.picture.url %}" alt="Profile"
                                                    class="avatar"></a>
                                            <div class="d-flex flex-column pl-1">
                                                <h5 style="margin: 0; margin-top: 4px; font-size: 1em;">
                                                    {{follower.usr.first_nm}} {{follower.usr.last_nm}}</h5>
                                                <p class="text-muted">{{follower.usr.usernm}}</h5>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="col" data-toggle="modal" data-target="#followingModal">
                            <b>{{profile.following.count}}</b> Following</p>
                        <!-- Following Modal -->
                        <div class="modal fade" id="followingModal" tabindex="-1" role="dialog"
                            aria-labelledby="followingModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="followingModalTitle">Following</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for following in profile.following.all %}
                                        <div class="d-flex">
                                            <a href="{% url 'exergam:profile' following.following_usr.id %}"><img
                                                    src="{% static following.following_usr.picture.url %}" alt="Profile"
                                                    class="avatar"></a>
                                            <div class="d-flex flex-column pl-1">
                                                <h5 style="margin: 0; margin-top: 4px; font-size: 1em;">
                                                    {{following.following_usr.first_nm}}
                                                    {{following.following_usr.last_nm}}</h5>
                                                <p class="text-muted">{{following.following_usr.usernm}}</h5>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="">
                <div class="d-flex">
                    <h4 class="font-weight-light">Current Rank: {{profile.rank}}</h4>
                    {% if profile.unranked %}<h4 class="ml-auto font-weight-light">{{profile.total_points}} XP / 365000
                        XP</h4>{% endif %}
                    {% if profile.bronze %}<h4 class="ml-auto font-weight-light">{{profile.total_points|add:"-365000"}}
                        XP / 182500 XP</h4>{% endif %}
                    {% if profile.silver %}<h4 class="ml-auto font-weight-light">{{profile.total_points|add:"-547500"}}
                        XP / 547500 XP</h4>{% endif %}
                    {% if profile.gold %}<h4 class="ml-auto font-weight-light">{{profile.total_points|add:"-1095000"}}
                        XP / 547500 XP</h4>{% endif %}
                    {% if profile.platinum %}<h4 class="ml-auto font-weight-light">
                        {{profile.total_points|add:"-1642500"}} XP / 547500 XP</h4>{% endif %}
                    {% if profile.diamond %}<h4 class="ml-auto font-weight-light">{{profile.total_points}} XP /
                        {{profile.total_points}} XP</h4>{% endif %}
                </div>
                <div class="progress">
                    <div class="progress-bar" id="points" role="progressbar" style="width: 0%;" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <script>
                    var x = document.getElementById("points");
                    var points_string = "{{profile.total_points}}"
                    var points = parseInt(points_string, 10);

                    let rank = "{{profile.rank}}"
                    if (rank == "Bronze") {
                        var percent = ((points - 365000) / 182500) * 100;
                        var percent_whole = Math.round(percent);
                        x.style.width = percent_whole + "%";
                        x.style.backgroundColor = "#826d09";
                    } else if (rank == "Silver") {
                        var percent = ((points - 547500) / 547500) * 100;
                        var percent_whole = Math.round(percent);
                        x.style.width = percent_whole + "%";
                        x.style.backgroundColor = "#808080"
                    } else if (rank == "Gold") {
                        var percent = ((points - 1095000) / 547500) * 100;
                        var percent_whole = Math.round(percent);
                        x.style.width = percent_whole + "%";
                        x.style.backgroundColor = "#ffd800"
                    } else if (rank == "Platinum") {
                        var percent = ((points - 1642500) / 547500) * 100;
                        var percent_whole = Math.round(percent);
                        x.style.width = percent_whole + "%";
                        x.style.backgroundColor = "#f8f9ff"
                    } else if (rank == "Diamond") {
                        x.style.width = "100%";
                        x.style.backgroundColor = "#7afaff;"
                    } else if (rank == "Unranked") {
                        x.style.backgroundColor = '#000000'
                        var percent = (points / 365000) * 100;
                        var percent_whole = Math.round(percent);
                        x.style.width = percent_whole + "%";
                    } else {
                        var percent = (points / 365000) * 100;
                        var percent_whole = Math.round(percent);
                        x.style.width = percent_whole + "%";
                        x.style.backgroundColor = "#ffffff;"
                    }
                </script>
            </div>
        </div>

        <div class="container">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#posts" role="tab"
                        aria-controls="nav-home" aria-selected="true">Posts</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#exercises" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Exercises</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#badges" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Badges</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% for post in profile.post_set.all reversed%}
                    <div class="card rounded container my-2 mx-auto"
                        style="box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);background-color: #ffffffe5;">
                        <div class="d-flex mt-2">
                            <img src="{% static profile.picture.url %}" alt="Profile" class="avatar"></a>
                            <div class="d-flex flex-column pl-3">
                                <h5 style="margin: 0; margin-top: 4px;">{{profile.first_nm}} {{profile.last_nm}}</h5>
                                <p class="text-muted">{{post.date}} at {{post.location}}</h5>
                                    <p>{{post.text}}</p>
                            </div>
                        </div>
                        <hr style="background-color:white;" />
                        {% if post.comment_set.all %}
                        <b class="text-primary"> Comments:</b>
                        {% endif %}
                        {% for comment in post.comment_set.all %}
                        <div class="d-flex">
                            <img src="{% static comment.author.picture.url %}" alt="Profile" style="vertical-align: middle;
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        margin: 5px"></a>
                            <div class="d-flex flex-column pl-3">
                                <p style="margin: 0; margin-top: 6px; line-height: 80%;">{{comment.author.first_nm}}
                                    {{comment.author.last_nm}} on {{comment.date}}</p>
                                <p class="text-muted text-wrap" style="width: 50%;">{{comment.text}}</h5>
                            </div>
                        </div>
                        {% endfor %}
                        <!--<form action="{% url 'exergam:comment_own' post.id %}" method="post" class='form'>
                            <textarea class="form-control" id="comment_text" name="comment_text"
                                placeholder="Write your comment here!" rows="3"></textarea>
                            {% csrf_token %}
                            <p></p>
                            <input class="btn btn-outline-primary mb-1" type="submit" value="Comment"
                                style="width: 10%;">
                        </form>-->
                    </div>
                    {% endfor %}
                </div>


                <div class="tab-pane fade" id="exercises" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {% for entry in profile.exerciseentry_set.all reversed %}
                    <div class="card rounded container my-2 mx-auto"
                        style="width: 60%;box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);background-color: #ffffffe5;">
                        <div class="d-flex my-2">
                            <img class="avatar" src="{% static profile.picture.url %}" alt="Profile">
                            <div class="d-flex flex-column pl-3">
                                <h5 style="margin: 0; margin-top: 4px;">{{profile.first_nm}} {{profile.last_nm}}
                                </h5>
                                <p class="text-muted">{{entry.exercise_date}}</p>
                            </div>
                        </div>
                        <p class=""><b class="text-primary">Type:</b> {{entry.exercise_type}}</p>
                        <p class=""><b class="text-primary">Duration:</b> {{entry.exercise_duration}} minutes</p>
                        <p class=""><b class="text-primary">Description:</b> {{entry.description}}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="badges" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="container my-3">
                        <div class="row mb-5">
                            <div class="col text-center">
                                <img id="basketball" src="../../static/images/badges/basketball.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col text-center">
                                <img id="climbing" src="../../static/images/badges/climbing.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="football" src="../../static/images/badges/football.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="frisbee" src="../../static/images/badges/frisbee.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-sm text-center">
                                <img id="soccer" src="../../static/images/badges/soccer.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="spikeball" src="../../static/images/badges/spikeball.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="swimming" src="../../static/images/badges/swimming.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="tennis" src="../../static/images/badges/tennis.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-sm text-center">
                                <img id="track" src="../../static/images/badges/track.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="volleyball" src="../../static/images/badges/volleyball.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="walking" src="../../static/images/badges/walking.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="weightlifting" src="../../static/images/badges/weightlifting.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm text-center">
                                <img id="yoga" src="../../static/images/badges/yoga.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="cardio" src="../../static/images/badges/cardio.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="strength" src="../../static/images/badges/strength.png" alt=""
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                            <div class="col-sm text-center">
                                <img id="baseball" src="../../static/images/badges/baseball.png" alt="baseball"
                                    style="width: 80%; height: auto; opacity: 0.4;">
                            </div>
                        </div>


                    </div>



                    <div class="d-flex flex-wrap mt-3">
                        {% for badge in profile.rewards_set.all %}

                        {% if badge.reward_type == "Basketball" %}
                        <script>
                            $("#basketball").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}
                        {% if badge.reward_type == "Baseball" %}
                        <script>
                            $("#baseball").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}
                        {% if badge.reward_type == "Climbing" %}
                        <script>
                            $("#climbing").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Football" %}
                        <script>
                            $("#football").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Frisbee" %}
                        <script>
                            $("#frisbee").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Soccer" %}
                        <script>
                            $("#soccer").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Spikeball" %}
                        <script>
                            $("#Spikeball").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Swimming" %}
                        <script>
                            $("#swimming").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Tennis" %}
                        <script>
                            $("#tennis").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Track + Field" %}
                        <script>
                            $("#track").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Volleyball" %}
                        <script>
                            $("#volleyball").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Walking" %}
                        <script>
                            $("#walking").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Weightlifting" %}
                        <script>
                            $("#weightlifting").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Yoga" %}
                        <script>
                            $("#yoga").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Cardio" %}
                        <script>
                            $("#cardio").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% if badge.reward_type == "Strength" %}
                        <script>
                            $("strength").css({
                                opacity: 1
                            });
                        </script>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% endif %}


</body>

</html>